html.layout-menu-collapsed #side_menu_logo {
    visibility: hidden;
    transition: opacity 5.5s ease, transform 5.5s ease;
}

html.layout-menu-hover #side_menu_logo {
    visibility: visible;
    transition: opacity 5.5s ease, transform 5.5s ease;
}


html {
    font-size: 14px;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-start {
    justify-self: start;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.field-validation-valid {
    color: #ea868f !important;
}

.field-validation-error {
    color: #ea868f !important;
}

.table thead tr th {
    text-align: center;
}

.table tbody tr td {
    text-align: center;
}

@keyframes spinnerRotateAnimation {
    100% {
        transform: rotate(360deg);
    }
}

.fa-spinner {
    animation: spinnerRotateAnimation 2s infinite;
}

.menu .app-brand.demo {
    height: 64px;
    margin-top: 12px;
}

.app-brand-logo.demo svg {
    width: 22px;
    height: 38px;
}

.app-brand-text.demo {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    text-transform: lowercase;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
    padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
    padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
    z-index: auto;
}

.dynamic-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.dt-length> select{
    border-radius: 7px;
}
.dt-length > label {
    /*border-radius: 7px;*/
    font-size: 13px;
    font-style: italic;
}
.dt-search input {
    border-radius: 7px;
}

/*.card-header .dt-search {
    margin-block: 0 !important;
    background: red;
}*/

.card-header .dt-length,
.card-header .dt-search {
    margin-block: 0rem !important;
}

.input-group .select2-selection {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.input-group .autoInitFlatPicker {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input-group .autoInitDatePicker {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}